        <div class="app container-fluid">
            <h1>TEA</h1>
            <h2>transport expectation application</h2>
            <div class="blink h1">
                Your bus should be here.
            </div>

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" id="here" ng-submit="here()">It's here</button>
                <button type="button" class="btn btn-default" id="leave" ng-submit="leave()">Getting on!</button>
                <button type="button" class="btn btn-default" id="wait" ng-submit="wait()">Nope :(</button>
            </div>

        </div>
