<div class="app container-fluid">
    <h1>TEA</h1>
    <h2>transport expectation application</h2>
    <div class="blink h1">
        Has your bus arrived?
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" id="wait" ng-click="wait()">Nope :(</button>
        <button type="button" class="btn btn-success" id="here" ng-click="here()">It's here</button>
    </div>
</div>

<nav class="nav navbar-default navbar-fixed-bottom">
    <div class="container-fluid corners">
        <o1 class="breadcrumb">
            <li><a href="#/">home</a></li>
            <li><a href="#/bus-route">route</a></li>
            <li><a href="#/pick-time">time</a></li>
            <li><a href="#/select-pickup">start</a></li>
            <li><a href="#/select-destination">end</a></li>
            <li><a href="#/next-bus">waiting</a></li>
            <li class="active"><a href="#/bus-arrive">42</a></li>
        </o1>
    </div>
</nav>
