<div class="app container-fluid">
    <h1>TEA</h1>
    <h2>transport expectation application</h2>
    <div class="blink h1">
        Has your bus arrived?
    </div>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success" id="wait" ng-click="wait()">Nope :(</button>
        <button type="button" class="btn btn-success" id="here" ng-click="here()">It's here</button>
        <button type="button" class="btn btn-success" id="leave" ng-click="leave()">Getting on!</button>
    </div>
</div>
