
<div class="app container-fluid">
    <h1>TEA</h1>
    <h2>transport expectation application</h2>

    <form role="form">
        <div class="form-group">
        <label for="route">Route:</label>
            <select class="form-control" id="route" ng-options="route.name for route in routes" ng-model="myRoute">
                <option value="">-- choose route --</option>
            </select>
            <br>
        <label for="direction">Direction:</label>
            <select class="form-control" id="direction" ng-options="direction for direction in myRoute.directions" ng-model="myDirection">
            </select>
            <br>
        <button type="submit" class="btn btn-success" id="submit" ng-click="submit()">continue...</button>
        </div>
    </form>
</div>
