<div class="app container-fluid">
  <h1>TEA</h1>
  <h2>transport expectation application</h2>
  <br>
<div class="list-group">
   <a href="#/bus-route" class="list-group-item" id="route">Start with a route</a>
   <a href="#/muni" class="list-group-item" id="muni">Start in a municipality</a>
   <a href="#/end" class="list-group-item" id="end">Start with an endpoint</a>
   <a href="#/arr" class="list-group-item" id="arrival">Start with an arrival time</a>
   <a href="#/dep" class="list-group-item" id="departure">Start with a departure time</a>
</div>
