<div class="app container-fluid">
  <h1>TEA</h1>
  <h2>transport expectation application</h2>
  <br>
  <br>
  <p>In a world where not only are you on time for the bus, the bus is on time for you... you finally have time to relax and enjoy your tea and biscuits. </p>
  <br>
  <br>
<div class="list-group">
    <a href="#/bus-route" class="list-group-item" id="route">Start with a route   <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
</div>

<nav class="nav navbar-default navbar-fixed-bottom">
    <div class="container corners">
        <o1 class="breadcrumb">
            <li class="active"><a href="#/">home</a></li>
        </o1>
    </div>
</nav>
