<h1>TEA</h1>
<h2>transport expectation application</h2>
<div id="deviceready" class="blink">
    <p class="event listening">Routes loading...</p>
    <p class="event received">Select a route</p>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/models.js"></script>
<script type="text/javascript" src="js/views.js"></script>

<div class="list-group">
   <a href="views/bus-route.html" class="list-group-item" id="route">Start with a route</a>
   <a href="views/muni.html" class="list-group-item" id="muni">Start in a municipality</a>
   <a href="views/end.html" class="list-group-item" id="end">Start with an endpoint</a>
   <a href="views/arr.html" class="list-group-item" id="arrival">Start with an arrival time</a>
   <a href="views/dep.html" class="list-group-item" id="departure">Start with a departure time</a>
</div>
