<div class="app container-fluid">
    <h1>TEA</h1>
    <h2>transport expectation application</h2>
    <br>

    <div class="blink bustimer">
        {{hours}}:{{mins}}:{{seconds}}
    </div>

    <div ng-show="!timerDone">
        <br/>
        <button type="button" class="btn btn-success" id="bus-early" ng-click="submit()">The bus is here early!</button>
    </div>

    <div class="yes-no-btns" ng-show="timerDone">
        <h1>Is the bus here?</h2>
        <button type="button" class="btn btn-success" id="bus-early" ng-click="submit()">Yes</button>
        <br/>
        <button type="button" class="btn btn-danger" id="bus-early" ng-click="addTimeToCounter()">No</button>
    </div>
</div>

<nav class="nav navbar-default navbar-fixed-bottom">
    <div class="container-fluid corners">
        <o1 class="breadcrumb">
            <li><a href="#/">home</a></li>
            <li><a href="#/bus-route">route</a></li>
            <li><a href="#/pick-time">time</a></li>
            <li><a href="#/select-pickup">start</a></li>
            <li class="active"><a href="#/next-bus">waiting...</a></li>
        </o1>
    </div>
</nav>
