<div class="app container-fluid">
    <h1>TEA</h1>
    <h2>transport expectation application</h2>
    <br>

    <div class="blink bustimer">
        00:02
    </div>

    <button type="button" class="btn btn-success" id="bus-early" ng-click="submit()">Bus here already?</button>

    </div>
</div>

<nav class="nav navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <o1 class="breadcrumb">
            <li><a href="#/">home</a></li>
            <li><a href="#/bus-route">route</a></li>
            <li><a href="#/pick-time">time</a></li>
            <li><a href="#/select-pickup">start</a></li>
            <li><a href="#/select-destination">end</a></li>
            <li class="active"><a href="#/next-bus">waiting...</a></li>
        </o1>
    </div>
</nav>
