<div class="app container-fluid">
    <h1>TEA</h1>
    <h2>transport expectation application</h2>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/cordova_controller.js"></script>
    <script type="text/javascript" src="js/controllers/bus_arrive_controller.js"></script>
    <script type="text-javascript" src="js/controllers/bus_route_controller.js"></script>
    <script type="text-javascript" src="js/controllers/pick_time_controller.js"></script>
    <script type="text-javascript" src="js/controllers/select_pickup_controller.js"></script>
    <script type="text-javascript" src="js/controllers/select_destination_controller.js"></script>
    <script type="text-javascript" src="js/controllers/next_bus_controller.js"></script>

    <h1>next bus in</h1>
    <br>

    <div class="blink bustimer">
        00:02
    </div>

    <button type="button" class="btn btn-success" id="bus-early" ng-submit="submit()">Bus here already?</button>

</div>
