<div class="app container-fluid clearfix">
    <h1>TEA</h1>
    <h2>transport expectation application</h2>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/cordova_controller.js"></script>
    <script type="text/javascript" src="js/controllers/bus_arrive_controller.js"></script>
    <script type="text-javascript" src="js/controllers/bus_route_controller.js"></script>
    <script type="text-javascript" src="js/controllers/pick_time_controller.js"></script>
    <script type="text-javascript" src="js/controllers/select_pickup_controller.js"></script>
    <script type="text-javascript" src="js/controllers/select_destination_controller.js"></script>
    <script type="text-javascript" src="js/controllers/next_bus_controller.js"></script>
    <br>
    <br>
    <form role="form">
        <div class="form-group">
        <label for="time">select departure time:</label>
            <select ng-model="selectedTime" ng-options="t for t in times" class="form-control" id="time"></select>
        <br>
        <br>
        <button type="submit" class="btn btn-success" id="submit" ng-click="submit()" href="#/next-bus">continue...</button>
        </div>
    </form>
</div>

<nav class="nav navbar-default navbar-fixed-bottom">
    <div class="container corners">
        <o1 class="breadcrumb">
            <li><a href="#/">home</a></li>
            <li><a href="#/bus-route">route</a></li>
            <li class="active"><a href="#/pick-time">time</a></li>
        </o1>
    </div>
</nav>
