<div class="app container-fluid">
    <h1>Drop-off stop?</h1>
    <h2>Select your route's endpoint.</h2>
    <a class="pickup list-group-item" href="#/next-bus">Bus 1</a>
    <a class="pickup list-group-item" href="#/next-bus">Bus 2</a>
    <a class="pickup list-group-item" href="#/next-bus">Bus 3</a>
    <a class="pickup list-group-item" href="#/next-bus">Bus 4</a>
    <a class="pickup list-group-item" href="#/next-bus">Bus 5</a>
    <a class="pickup list-group-item" href="#/next-bus">Bus 6</a>
    <a class="pickup list-group-item" href="#/next-bus">Bus 7</a>
    <a class="pickup list-group-item" href="#/next-bus">Bus 8</a>
    <a class="pickup list-group-item" href="#/next-bus">Bus 9</a>
    <a class="pickup list-group-item" href="#/next-bus">Bus 10</a>
</div>

<nav class="nav navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <o1 class="breadcrumb">
            <li><a href="#/">home</a></li>
            <li><a href="#/bus-route">route</a></li>
            <li><a href="#/pick-time">time</a></li>
            <li><a href="#/select-pickup">start</a></li>
            <li class="active"><a href="#/select-destination">end</a></li>
        </o1>
    </div>
</nav>
