<div class="app container-fluid">
    <h1>Drop-off stop?</h1>
    <h2>Select your route's endpoint.</h2>
    <div class="stop-list">
        <a ng-repeat="destination in destinationStops" class="destination list-group-item" ng-click="selectDestination(destination.stop_id);">{{destination.stop_name}}</a>
    </div>
</div>

<nav class="nav navbar-default navbar-fixed-bottom">
    <div class="container-fluid corners">
        <o1 class="breadcrumb">
            <li><a href="#/">home</a></li>
            <li><a href="#/bus-route">route</a></li>
            <li><a href="#/pick-time">time</a></li>
            <li><a href="#/select-pickup">start</a></li>
            <li class="active"><a href="#/select-destination">end</a></li>
        </o1>
    </div>
</nav>
