<div class="page-title">
  <h1>Which Drop-off Stop?</h1>
  <h2>Select the stop where you would like to dropped off.</h2>
</div>
<div class="select-pickup">
  <ul class="pickup-list">
    <li class="pickup"><a href="#/next-bus">Bus 1</a></li>
    <li class="pickup"><a href="#/next-bus">Bus 2</a></li>
    <li class="pickup"><a href="#/next-bus">Bus 3</a></li>
    <li class="pickup"><a href="#/next-bus">Bus 4</a></li>
    <li class="pickup"><a href="#/next-bus">Bus 5</a></li>
    <li class="pickup"><a href="#/next-bus">Bus 6</a></li>
    <li class="pickup"><a href="#/next-bus">Bus 7</a></li>
    <li class="pickup"><a href="#/next-bus">Bus 8</a></li>
    <li class="pickup"><a href="#/next-bus">Bus 9</a></li>
    <li class="pickup"><a href="#/next-bus">Bus 10</a></li>
  </ul>
</div>
