
            <script type="text/javascript" src="cordova.js"></script>
            <script type="text/javascript" src="js/cordova_controller.js"></script>
            <script type="text/javascript" src="js/controllers/bus_arrive_controller.js"></script>
            <script type="text-javascript" src="js/controllers/bus_route_controller.js"></script>
            <script type="text-javascript" src="js/controllers/pick_time_controller.js"></script>
            <script type="text-javascript" src="js/controllers/select_pickup_controller.js"></script>
            <script type="text-javascript" src="js/controllers/select_destination_controller.js"></script>
            <script type="text-javascript" src="js/controllers/next_bus_controller.js"></script>


<div class="page-title">
  <h1>Which Pickup Stop?</h1>
  <h2>Select the stop where you would like to picked up.</h2>
</div>
<div class="select-pickup">
  <ul class="pickup-list">
    <li class="pickup"><a href="">Bus 1</a></li>
    <li class="pickup"><a href="">Bus 2</a></li>
    <li class="pickup"><a href="">Bus 3</a></li>
    <li class="pickup"><a href="">Bus 4</a></li>
    <li class="pickup"><a href="">Bus 5</a></li>
    <li class="pickup"><a href="">Bus 6</a></li>
    <li class="pickup"><a href="">Bus 7</a></li>
    <li class="pickup"><a href="">Bus 8</a></li>
    <li class="pickup"><a href="">Bus 9</a></li>
    <li class="pickup"><a href="">Bus 10</a></li>
  </ul>
</div>
